$grid-laptop: repeat(12, 1fr);
$grid-tablet: repeat(8, 1fr);
$grid-mobile: repeat(6, 1fr);

$max-width-container-laptop: 1016px;
$max-width-container-tablet: 496px;
$max-width-container-mobile: 236px;
