.production {
  width: 100%;
  max-width: $max-width-container-laptop;
  row-gap: 60px;
  margin-top: 100px;

  display: grid;
  justify-content: flex-start;
  align-items: flex-start;
  grid-template-rows: min-content;

  &__header {
    grid-column: 1 / -1;
    display: grid;
    justify-content: flex-start;
    align-items: center;
  }

  &__number {
    display: none;
  }

  &__content {
    display: grid;
    justify-content: flex-start;
    align-items: flex-start;
    grid-template-columns: $grid-laptop;
    row-gap: 60px;
  }

  &__characteristics {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 28px;
  }

  &__actions {
    display: grid;
    justify-content: flex-start;
    align-items: center;
    grid-template-columns: $grid-laptop;
  }

  &__button {
    width: $button-width;
  }

  &__robot {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@include desktop-lg {
  .production {
    grid-template-columns: $grid-laptop;
    row-gap: 40px;

    &__header {
      grid-template-columns: $grid-laptop;
    }

    &__number {
      grid-column: 1 / 2;
    }

    &__title {
      grid-column: 2 / -1;
    }

    &__content {
      grid-column: 2 / 9;
    }

    &__characteristics {
      grid-column: 1 / 6;
    }

    &__details {
      grid-column: 7 / -1;
    }

    &__actions {
      grid-column: 1 / -1;
    }

    &__button {
      grid-column: 1 / 7;
    }

    &__message {
      grid-column: 7 / -1;
    }

    &__robot {
      grid-column: 9 / -1;
    }
  }
}

@include desktop {
  .production {
    grid-template-columns: $grid-laptop;

    &__header {
      grid-template-columns: $grid-laptop;
    }

    &__title,
    &__actions {
      grid-column: 1 / -1;
    }

    &__content {
      grid-column: 1 / 9;
    }

    &__characteristics {
      grid-column: 1 / 6;
    }

    &__details {
      grid-column: 7 / -1;
    }

    &__button {
      grid-column: 1 / 7;
    }

    &__message {
      grid-column: 7 / -1;
    }

    &__robot {
      grid-column: 9 / -1;
    }
  }
}

@include tablet {
  .production {
    grid-template-columns: $grid-tablet;
    margin-bottom: 96px;

    &__header {
      grid-template-columns: $grid-tablet;
    }

    &__title,
    &__details,
    &__button {
      grid-column: 1 / -1;
    }

    &__content {
      grid-column: 1 / 4;
    }

    &__content {
      row-gap: 40px;
    }

    &__characteristics {
      grid-column: 1 / 12;
    }

    &__actions {
      grid-column: 1 / -1;
      row-gap: 20px;
    }

    &__message {
      grid-column: 1 / 11;
      grid-row: 1;
    }

    &__robot {
      grid-column: 5 / -1;
    }
  }
}

@include mobile {
  .production {
    margin-bottom: 96px;
    grid-template-columns: $grid-mobile;
    row-gap: 40px;

    &__header {
      grid-template-columns: $grid-mobile;
    }

    &__title,
    &__details,
    &__characteristics,
    &__actions,
    &__button,
    &__message,
    &__robot {
      grid-column: 1 / -1;
    }

    &__content {
      grid-column: 1 / 6;
    }

    &__content {
      row-gap: 40px;
    }

    &__actions {
      row-gap: 20px;
    }

    &__message {
      grid-row: 1;
    }

    &__robot {
      grid-row: 2;
    }
  }
}
